body {
    /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; */
    /* background-image: url("../img/illustration-hero.svg");
    background-size: contain;
    background-repeat: no-repeat; */
    line-height: 1;
    background-color: hsl(225, 100%, 94%)
}

.control-center {
    display: flex;
    justify-content: center;
    /* margin: 0 auto;
    padding: 50px 90px; */
}

.image-picture {
    /* background-image: url("../img/illustration-hero.svg");
    background-size: contain;
    background-repeat: no-repeat; */
    padding: 30px;
    margin: 0 auto;
}

.pic {
    margin: 0 auto 0;
    width: 500px;
}

.container {
  background-color: hsl(225, 100%, 98%);
  padding-top: 40px;
  margin-top: 0;
  width: 500px;
  height: 500px;
}


.component-title {
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
}

.component-text {
    text-align: center;
    /* width: 450px; */
}

.text {
    margin-bottom: 20px;
    line-height: 1.5;
}

.component-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 5px;
    /* width: 50%; */
    background-color: hsl(225, 100%, 94%);
}

/* p {
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    width: 250px;
    padding: 10px 20px;
} */
