* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 16px;
}

p {
    font-size: 16px;
    font-weight: 500;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../img/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-one {
    background-color: #fff;
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

#hero-illustration {
    width: 100%;
    margin-bottom: 3rem;
}

.title {
    font-size: 1.65rem;
    font-weight: 900;
    margin-bottom: .5rem;
}

.card-paragraph {
    color: hsla(214, 4%, 33%, 0.712);
    margin-bottom: 1em;
    line-height: 1.5;
}

.card-plan {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    background-color: hsl(0, 0%, 95%);
    border-radius: 9px;
    padding: 15px;
    margin: 1.5em;
}

.card-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 2;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-name {
    font-weight: 900;
    font-size: 0.9rem;
}

.card-price {
    color: hsla(214, 4%, 33%, 0.9);
}

.card-icon {
    margin-right: 0.9em;
}

.card-content {
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
}

.plan-payment {
    text-decoration: none;
    color: #fff;
    background-color: hsl(223, 47%, 23%);
    width: 100%;
    padding: .6em;
    margin-bottom: .7em;
    border-radius: 10px;
}

.order-cancel {
    text-decoration: none;
    color: #252525;
    margin-bottom: 2em;
}